/* TODO: ALL of this */

/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } */

  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway+Dots&family=Sacramento&display=swap');

  * {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

  }
 
  /* Header.css */

.header-container {
  background-color: #ccd5ae;
  color: #d4a373;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

header .header-title {
  font-size: 3rem;
  margin: 0;
  color: rgb(86, 52, 4);
  font-weight: 900;
}

.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

header .header-subtitle {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  color: #d4a373;
}

.title {
  color: #6d725c;
  font-family: 'Indie Flower', cursive;
}

.pet-name {
  font-weight: 700;
}

/* .cards {
  background-color: #ccd5ae;
} */

.about {
  color: rgb(93, 55, 15);
}

.contact {
  color: rgb(168, 112, 86);
}

.form {
  text-align: center;
}

.header-pp {
text-align: center;
font-family: 'Indie Flower', cursive;
}

.phone-box {
  background-color: rgb(250, 248, 217);
  border-radius: 25px;
}

.name-box {
  background-color: rgb(250, 248, 217);
  border-radius: 25px;
}

.email-box {
  background-color: rgb(250, 248, 217);
  border-radius: 25px;
}

.preference-box {
  background-color: rgb(250, 248, 217);
  border-radius: 25px;
}

.info-box {
  background-color: rgb(250, 248, 217);
  border-radius: 25px;
  height: 300 px;
}

.submit {
  background-color: rgb(229, 246, 228);
  border-radius: 50px;
  box-shadow: #070706;
  border: #6d725c;

}

.music-button {
  background-color: #6d725c;
  color: white;
  border-radius: 25px;
  padding: 10px;
}

.header-link {
  margin: 0.5rem;
  font-size: 2rem;
  text-decoration: none;
  color: #F0EFEB;
}

.header-link:hover {
  color: #A5A58D !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* .logout-message {
  display: block;
  color: magenta;
  margin-top: 15px;
} */

/* .header-logout {
  margin: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
} */

.footer-container {
  background-color: #e9edc9;
  color: #ccd5ae;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* Signup.css */

.card-header {
  font-size: 1.5rem;
}

.form-input {
  margin-top: 1.5rem;
}



  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

  /* FOOTER */